.banner{
    display: block;
    margin: 30px auto;
    width: 83%;
}
.shop-catageory-indexsort{
    width: 83%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.one{
    font-size: 20px;
}
.shop-catageory-sort{
    padding: 5px 20px;
    border-radius: 40px;
    border: 1px solid black;
    margin-right: 20px;
}
.shop-categoey-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    row-gap: 80px;
    margin: 30px 90px;
}
.load-more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 230px;
    height: 70px;
    background-color: rgb(232, 227, 221);
    border-radius: 35px;
    font-size: 20px;
    font-weight: 500;
}

@media(max-width:1280px){
    .banner{
        margin: 20px auto;
        width: 84%;
    }
    .shop-catageory-indexsort{
        width: 84%;
        margin: auto;
    }
    .shop-catageory-sort{
        padding: 5px 10px;
        font-size: 15px;
    }
    .shop-catageory-indexsort p {
        font-size: 15px;
    }
    .one{
        font-size: 15px;
    }
    .shop-categoey-products{
        width: 84%;
        margin: 10px auto;
        row-gap: 40px;
    }
    .shop-categoey-products .item{
        margin: auto;
    }
    .load-more{
        margin: 100px auto;
        width: 200px;
        height: 60px;
        font-size: 16px; 
    }
}
@media(max-width:800px){
    .banner{
        width: 90%;
    }
    .shop-categoey-products{
        width: 90%;
    }
    .load-more{
        margin: 60px auto;
        width: 150px;
        height: 40px;
        font-size: 13px; 
    }
}
@media(max-width:600px){
    .shop-categoey-products{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        justify-content: center;
    }
    .shop-catageory-indexsort p {
        font-size: 13px;
    }
    .one{
        font-size: 13px;
    }
    .shop-catageory-sort{
        padding: 3px 6px;
        font-size: 12px;
    }
}
