.description-box{
    margin: 120px 70px;
    text-align: left;
}
.descriptin-box-navigation{
    display: flex;
}
.descriptin-box-nav-box{
    width: 170px;
    height: 50px;
    border: 1px solid #d0d0d0;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.descriptin-box-nav-box.fade{
    background: #fbfbfb;
    color: #555;
}
.description-box-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #d0d0d0;
    padding: 30px;
    padding-bottom: 50px;
    font-size: 14px;
}

@media(max-width:1280px){
    .description-box{
        margin: 60px;
    }
}
@media(max-width:800px){
    .description-box{
        margin: 60px 10px;
    }
}