.new-collections{
    margin-top: 50px;
    min-height: 300vh;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
.new-collections h1{
    font-size: 50px;
}
.new-collections hr{
    width: 400px;
    height: 6px;
    border-radius: 10px;
    background: rgb(135, 132, 129);
    display: flex;
    align-items: center;
}
.collectins{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 30px;
}

@media(max-width:1280px){
    .new-collections{
        min-height: 70vh;
    }
    .new-collections h1{
        font-size: 40px;
    }
    .new-collections hr{
        width: 200px;
        height: 4px;
    }
    .collectins{
        gap: 20px;
        margin-top: 30px;
    }
}
@media(max-width:1024px){
    .new-collections{
        min-height: 60vh;
    }
    .new-collections h1{
        font-size: 30px;
    }
    .new-collections hr{
        width: 160px;
        height: 3px;
    }
    .collectins{
        gap: 15px;
        margin-top: 20px;
    }
}
@media(max-width:800px){
    .new-collections{
        min-height: 50vh;
    }
    .new-collections h1{
        font-size: 20px;
    }
    .new-collections hr{
        width: 120px;
    }
    .collectins{
        gap: 5px;
    }
}
@media(max-width:600px){ 
    .new-collections{
        min-height: 90vh;
    }
    .collectins{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}
