.related-products{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    min-height: 90vh;
}
.related-products h1{
    color: #171717;
    font-size: 40px;
    font-weight: 600;
}
.related-products hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #151515;
}
.related-products-item{
    display: flex;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 120px;
}

@media(max-width:1280px){
    .related-products{
        min-height: 70vh;
    }
    .related-products h1{
        font-size: 40px;
    }
    .related-products hr{
        width: 200px;
        height: 4px;
    }
    .related-products-item{
        gap: 20px;
        margin-top: 30px;
    }
}
@media(max-width:1024px){
    .related-products{
        min-height: 60vh;
    }
    .related-products h1{
        font-size: 30px;
    }
    .related-products hr{
        width: 160px;
        height: 3px;
    }
    .related-products-item{
        gap: 15px;
        margin-top: 20px;
    }
}
@media(max-width:800px){
    .related-products{
        min-height: 50vh;
    }
    .related-products h1{
        font-size: 20px;
    }
    .related-products hr{
        width: 120px;
    }
    .related-products-item{
        gap: 5px;
    }
}
@media(max-width:550px){ 
    .related-products{
        min-height: 90vh;
    }
    .related-products-item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}