.product-display{
    display: flex;
    margin: 0px 80px;
}
.product-display-left{
    display: flex;
    gap: 17px;
}
.product-display-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.product-display-img-list img{
    height: 163px;
}
.main-img{
    width: 400px;
    height: 522px;
}
.product-display-right{
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
    text-align: left;
}
.product-display-right h1{
    font-size: 30px;
    font-weight: 600;
    color: #3d3d3d;
}
.product-dispaly-star{
    display: flex;
    gap: 5px;
    font-size: 16px;
}
.product-display-prices{
    display: flex;
    font-size: 24px;
    font-weight: 600;
    gap: 20px;
    margin: 25px 0px;
}
.product-display-new-prices{
    color: #ff4141;
}
.product-display-old-prices{
    color: #818181;
    text-decoration: line-through;
}
.product-display-size h1{
    margin-top: 50px;
    color: #656565;
    font-size: 20px;
    font-weight: 700;
}
.product-display-sizes{
    display: flex;
    gap: 20px;
    margin: 20px 0px ;
}
.product-display-sizes div{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ebebeb;
    background: #fbfbfb;
    border-radius: 3px;
    cursor: pointer;
}
.product-display-right button{
    width: 200px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 600;
    background: #ff4141;
    cursor: pointer;
    margin-bottom: 15px;
    outline: none;
    border: none;
}
.product-display-category span{
    font-weight: 600;
    line-height: 30px;
}
.product-display-description{
    font-size: 14px;
}

@media(max-width:1280px){
    .product-display{
        margin: 0px 60px;
    }
    .product-display-left{
        gap: 10px;
    }
    .product-display-img-list{
        gap: 10px;
    }
    .product-display-img-list img{
        height: 120px;
    }
    .main-img{
        width: auto;
        height: 510px;
    }
    .product-display-right{
        margin: -25px 30px;
    }
    .product-display-right h1{
        font-size: 22px;
    }
    .product-dispaly-star{
        gap: 3px;
        font-size: 13px;
    }
    .product-display-prices{
        margin: 20px 0px;
    }
    .product-display-description{
        font-size: 13px;
    }
    .product-display-right h1{
        margin: 20px 0px;
        font-size: 20px;
    }
    /* .product-display-size div{
        padding: 14px;
    } */
    .product-display-right button{
        width: 150px;
        padding: 15px 0px;
        margin-bottom: 20px;
    }
    .product-display-category{
        margin-top: 5px;
        font-size: 14px;
    }
}

@media(max-width:1024px){
    .product-display{
        margin: 0px 30px;
    }
    .product-display-left{
        gap: 5px;
    }
    .product-display-img-list{
        gap: 10px;
    }
    .product-display-img-list img{
        height: 95px;
    }
    .main-img{
        height: 410px;
        width: 330px;
    }
    .product-display-right{
        margin: -25px 30px;
    }
    .product-display-right h1{
        font-size: 18px;
    }
    .product-dispaly-star{
        margin: -10px 0px;
    }
    .product-dispaly-star img{
        width: 15px;
    }
    /* .product-display-prices{
        margin: 20px 0px;
    } */
    .product-display-description{
        margin: -10px 0px;
        font-size: 12px;
    }
    /* .product-display-size{
        margin: 10px 0px;
    } */
    .product-display-size div{
        margin: -5px 0px;
    }
    .product-display-right button{
        margin: 40px 0px;
        width: 130px;
        padding: 10px 0px;
        margin-bottom: 10px;
    }
    .product-display-category{
        font-size: 13px;
        /* margin: -5px 0px; */
    }
}

@media(max-width:800px){
    .product-display{
        margin: 0px 10px;
    }
    .product-display-left{
        gap: 0px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .product-display-img-list{
        flex-direction: row;
        gap: 6px;
    }
    .product-display-img-list img{
        height: 70px;
    }
    .main-img{
        height: 300px;
        width: 252px;
    }
    .product-display-right{
        margin: -15px 15px;
        margin-bottom: -50px;
    }
    .product-display-right h1{
        font-size: 14px;
    }
    .product-dispaly-star{
        margin: -10px 0px;
    }
    .product-dispaly-star img{
        width: 13px;
    }
    /* .product-display-prices{
        margin: 20px 0px;
    } */
    .product-display-description{
        margin: 0px 0px;
        font-size: 12px;
    }
    /* .product-display-size{
        margin: 10px 0px;
    } */
    .product-display-size h1{
        font-size: 14px;
    }
    .product-display-size div{
        gap: 5px;
        margin: 0px 0px;
        min-width: 30px;
        min-height: 30px;
    }
    .product-display-right button{
        margin: 20px 0px;
        width: 100px;
        padding: 10px 0px;
        margin-bottom: 10px;
        font-size: 13px;
    }
    .product-display-category{
        font-size: 13px;
        margin: 0px 0px;
    }
}

@media(max-width:550px){
    .product-display{
        flex-direction: column;
    }
    .product-display-left{
        gap: 10px;
        flex-direction: row;
        margin: auto;
    }
    .product-display-img-list{
        flex-direction: column;
        gap: 10px;
    }
    .product-display-img-list img{
        height: 75px;
    }
    .main-img{
        height: 330px;
        margin-top: 5px;
    }
    .product-display-right{
        margin: 5px;
    }
    .product-display-right h1{
        margin-top: 15px;
        font-size: 20px;
        font-weight: 500;
    }
}